@import url('https://fonts.googleapis.com/css?family=Montserrat');



.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

.skills {
	background-color: white;
	color: black;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}
